
* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 12px;
    font-weight: bold;
    min-height: 0;
    border: none;
    border-radius: 0;
}

window#waybar {
    background: transparent;
    color: #ebdbb2;
}

.modules-left,
.modules-center,
.modules-right {
    background: #282828;
    border: 1px solid #504945;
    border-radius: 10px;
    padding: 0 8px;
}

#workspaces {
    padding: 2px;
}
#window {
  padding: 5px;
}

#workspaces button {
    color: #a89984;
    background: transparent;
    padding: 0 9px;
    margin: 4px 2px;
    border-radius: 7px;
    transition: all 0.2s ease;
}

#workspaces button:hover {
    background: #3c3836;
    color: #ebdbb2;
}

#workspaces button.active {
    color: #282828;
    background: #fabd2f;
}

#workspaces button.urgent {
    color: #282828;
    background: #fb4934;
}

#clock {
    color: #fabd2f;
    padding: 0 12px;
}

#memory {
  color: #fabd2f;
  padding: 0 4px;
 
}

#pulseaudio {
    color: #83a598;
    padding: 0 10px;
}

#network {
    color: #8ec07c;
    padding: 0 10px;
}

#battery {
    color: #d3869b;
    padding: 0 10px;
}

#battery.warning {
    color: #fe8019;
}

#battery.critical {
    color: #fb4934;
}

#tray {
    padding: 0 8px;
}

tooltip {
    background: #282828;
    color: #ebdbb2;
    border: 1px solid #665c54;
    border-radius: 8px;
}

#bluetooth {
    color: #83a598;
    padding: 0px 4px;
    font-size: 14px;
}

#custom-power {
    color: #fb4934;
    padding: 0 6px;
    margin: 4px;
}

#custom-notification {
    color: #fabd2f;
    padding: 0 4px;
    margin: 4px;
    font-size: 13px;
}
